:root {
  --mb-sidebar-width: 300px;
  --mb-sidebar-collapsed-width: 44px;
  --mb-window-margin: 8px;
  --mb-c-background: var(--lwt-accent-color);
  --mb-c-border: var(--sidebar-border-color);
  --mb-c-starred: currentColor;
}

#navigator-toolbox,
#nav-bar {
  border: none !important;
}

#titlebar {
  border: none !important;
}

#nav-bar {
  margin: 4px 0 !important;
  box-shadow: none !important;
}

#nav-bar,
#tabbrowser-tabs,
#sidebar-box {
  background-color: transparent !important;
}

#appcontent,
#browser {
  background-color: var(--mb-c-background) !important;
}

#nav-bar-customization-target > *:first-child {
  margin-left: 0px !important;
  padding-left: 8px !important;
}

#TabsToolbar {
  visibility: collapse;
}

#main-window:not([inFullscreen]) #appcontent {
  margin: var(--mb-window-margin);
  margin-top: 0;
  border-radius: 8px !important;
  border: 1px solid var(--mb-c-border);
  overflow: hidden;
}

#sidebar-box {
  margin-left: var(--mb-window-margin);
  margin-right: -8px;
  position: relative;
  z-index: 1;
}

#sidebar-header {
  border-top: 1px solid var(--mb-c-border) !important;
}

#sidebar-header:before {
  content: "";
  position: absolute;
  right: 0px;
  top: -1px;
  width: 6px;
  height: 1px;
  background-color: var(--mb-c-background);
  z-index: 2;
}

#sidebar-splitter {
  width: var(--mb-window-margin) !important;
  border: none !important;
}

#sidebar-box[sidebarcommand=_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action] + #sidebar-splitter {
  visibility: collapse;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  position: relative;
  width: var(--mb-sidebar-collapsed-width) !important;
  min-width: var(--mb-sidebar-collapsed-width) !important;
  z-index: 1;
  margin-left: 0;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-header {
  display: block !important;
  position:  absolute !important;
  top:  0px !important;
  bottom: 0 !important;
  min-width: calc(var(--mb-sidebar-collapsed-width) - 6px) !important;
  margin: 0px !important;
  margin-left: 6px !important;
  padding: 0px !important;
  border-bottom: none !important;
  border-right: 0px solid var(--mb-c-border);
  pointer-events: none !important;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-header > toolbarbutton,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-header > #sidebar-throbber,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-header > spacer {
  display: none;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-header {
  transition: min-width 200ms ease-in-out 200ms, border-right-width 100ms step-end 100ms;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar {
  min-width: var(--mb-sidebar-collapsed-width) !important;
  pointer-events: auto !important;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar * {
  background-color: unset !important;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover > #sidebar,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover > #sidebar-header {
  transition: min-width 200ms ease-in-out, border-right-width 190ms step-start 10ms;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover > #sidebar{
  min-width: var(--mb-sidebar-width) !important;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover > #sidebar-header {
  border-right-width: 1px;
  min-width: calc(var(--mb-sidebar-width) - 6px) !important;
}

#main-window:not([inFullscreen]) #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header:after {
  content: "";
  position: absolute;
  width: calc(var(--mb-sidebar-width));
  height: var(--mb-window-margin);
  left: 0px;
  bottom: 0px;
  background-color: var(--mb-c-background);
}

#identity-box #identity-icon-box {
  max-width: 28px !important;
  padding: 0 6px !important;
  overflow: hidden;
  background-color: transparent !important;
  transition: max-width 250ms ease-in-out;
}
#identity-box #identity-icon-box:hover {
  max-width: calc(30px + 13em) !important;
  background-color: var(--urlbar-box-hover-bgcolor) !important;
  transition: max-width 250ms ease-in-out 500ms;
}
#identity-box #identity-icon-labels,
#identity-box #identity-icon-label {
  padding-right: 2px !important;
  visibility: collapse !important;
  transition: visibility 250ms ease-in-out;
}
#identity-box:hover #identity-icon-labels,
#identity-box:hover #identity-icon-label:not([value=""]) {
  visibility: visible !important;
  transition: visibility 250ms ease-in-out 500ms;
}

#star-button[starred] {
  fill: var(--mb-c-starred) !important;
}