@import url("extensions/sidebery.css");

:root {
  --mb-sidebar-width: 300px;
  --mb-sidebar-collapsed-width: 44px;
  --mb-window-margin: 8px;
  --mb-c-background: var(--lwt-accent-color);
  --mb-c-border: var(--sidebar-border-color);
  --mb-c-starred: currentColor;
}

#navigator-toolbox,
#nav-bar {
  border: none !important;
}

#titlebar {
  border: none !important;
}

#nav-bar {
  margin: 4px 0 !important;
  box-shadow: none !important;
}

#nav-bar,
#tabbrowser-tabs,
#sidebar-box,
#sidebar-splitter {
  background-color: transparent !important;
}

#appcontent,
#browser {
  background-color: var(--mb-c-background) !important;
}

#nav-bar-customization-target > *:first-child {
  margin-left: 0px !important;
  padding-left: 8px !important;
}

#TabsToolbar {
  visibility: collapse;
}

#main-window:not([inFullscreen]) #appcontent {
  margin: var(--mb-window-margin);
  margin-top: 0;
  border-radius: 8px !important;
  border: 1px solid var(--mb-c-border);
  overflow: hidden;
}

#main-window:not([inFullscreen]) #sidebar-header {
  border-top: 1px solid var(--mb-c-border) !important;
}

#main-window:not([inFullscreen]) #sidebar-header:before {
  content: "";
  position: absolute;
  right: 0px;
  top: -1px;
  width: 6px;
  height: 1px;
  background-color: var(--mb-c-background);
  z-index: 2;
}

#sidebar-splitter {
  width: 8px !important;
  margin-right: -8px;
  margin-left: 8px;
  border: none !important;
}

#sidebar-box {
  margin-left: var(--mb-window-margin);
  margin-right: -8px;
  position: relative;
  z-index: 1;
}

#identity-box #identity-icon-box {
  max-width: 28px !important;
  padding: 0 6px !important;
  overflow: hidden;
  background-color: transparent !important;
  transition: max-width 250ms ease-in-out;
}
#identity-box #identity-icon-box:hover {
  max-width: calc(30px + 13em) !important;
  background-color: var(--urlbar-box-hover-bgcolor) !important;
  transition: max-width 250ms ease-in-out 500ms;
}
#identity-box #identity-icon-labels,
#identity-box #identity-icon-label {
  padding-right: 2px !important;
  visibility: collapse !important;
  transition: visibility 250ms ease-in-out;
}
#identity-box:hover #identity-icon-labels,
#identity-box:hover #identity-icon-label:not([value=""]) {
  visibility: visible !important;
  transition: visibility 250ms ease-in-out 500ms;
}

#star-button[starred] {
  fill: var(--mb-c-starred) !important;
}