:root {
  --mb-sidebar-width: 300px;
  --mb-sidebar-collapsed-width: 44px;
  --mb-window-margin: 8px;
  --mb-c-background: var(--lwt-accent-color);
  --mb-c-border: var(--sidebar-border-color);
  --mb-c-starred: currentColor;
}

#navigator-toolbox,
#nav-bar {
  border: none !important;
}

#titlebar {
  border: none !important;
}

#nav-bar {
  margin: 4px 0 !important;
  box-shadow: none !important;
}

#nav-bar,
#tabbrowser-tabs {
  background-color: transparent !important;
}

#appcontent,
#browser {
  background-color: var(--mb-c-background) !important;
}

#nav-bar-customization-target > *:first-child {
  margin-left: 0px !important;
  padding-left: 8px !important;
}

#TabsToolbar {
  visibility: collapse;
}

#main-window:not([inFullscreen]) #appcontent {
    margin: var(--mb-window-margin);
    margin-top: 0;
    border-radius: 8px !important;
    border: 1px solid var(--mb-c-border);
    overflow: hidden;
}

#sidebar-box {
  position: relative;
  z-index: 1;
}

#sidebar-splitter {
  visibility: collapse;
}

#sidebar-box {
  position: relative;
  width: var(--mb-sidebar-collapsed-width) !important;
  min-width: var(--mb-sidebar-collapsed-width) !important;
  margin-right: -8px !important;
  z-index: 1;
}

#sidebar-box > #sidebar-header {
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  min-width: var(--mb-sidebar-collapsed-width) !important;
  margin: 0px !important;
  padding: 0px !important;
  border: none !important;
  pointer-events: none !important;
}

#sidebar-box > #sidebar-header > toolbarbutton,
#sidebar-box > #sidebar-header > #sidebar-throbber,
#sidebar-box > #sidebar-header > spacer {
  display: none;
}

#sidebar-box > #sidebar {
  pointer-events: auto !important;
}

#sidebar * {
  background-color: unset !important;
}

#sidebar-box > #sidebar,
#sidebar-box > #sidebar-header {
  transition: min-width 200ms ease-in-out 200ms, box-shadow 200ms step-start 200ms;
  min-width: var(--mb-sidebar-collapsed-width) !important;
}

#sidebar-box:hover > #sidebar,
#sidebar-box:hover > #sidebar-header {
  box-shadow: 1px 0px var(--mb-c-border);
  transition: min-width 200ms ease-in-out, box-shadow 200ms step-start;
  min-width: var(--mb-sidebar-width) !important;
}

#main-window:not([inFullscreen]) #sidebar-header:after {
  content: "";
  position: absolute;
  width: calc(var(--mb-sidebar-width) + 1px);
  height: var(--mb-window-margin);
  left: 0px;
  bottom: 0px;
  background-color: var(--mb-c-background);
}

#identity-box #identity-icon-box {
  max-width: 28px !important;
  padding: 0 6px !important;
  overflow: hidden;
  background-color: transparent !important;
  transition: max-width 250ms ease-in-out;
}
#identity-box #identity-icon-box:hover {
  max-width: calc(30px + 13em) !important;
  background-color: var(--urlbar-box-hover-bgcolor) !important;
  transition: max-width 250ms ease-in-out 500ms;
}
#identity-box #identity-icon-labels,
#identity-box #identity-icon-label {
  padding-right: 2px !important;
  visibility: collapse !important;
  transition: visibility 250ms ease-in-out;
}
#identity-box:hover #identity-icon-labels,
#identity-box:hover #identity-icon-label:not([value=""]) {
  visibility: visible !important;
  transition: visibility 250ms ease-in-out 500ms;
}

#star-button[starred] {
  fill: var(--mb-c-starred) !important;
}