#sidebar-box[sidebarcommand=_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action] + #sidebar-splitter {
  visibility: collapse;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  position: relative;
  width: var(--mb-sidebar-collapsed-width) !important;
  min-width: var(--mb-sidebar-collapsed-width) !important;
  z-index: 1;
  margin-left: 0;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-header {
  display: block !important;
  position:  absolute !important;
  top:  0px !important;
  bottom: 0 !important;
  min-width: calc(var(--mb-sidebar-collapsed-width) - 6px) !important;
  margin: 0px !important;
  margin-left: 6px !important;
  padding: 0px !important;
  border-bottom: none !important;
  border-right: 0px solid var(--mb-c-border);
  pointer-events: none !important;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-header > toolbarbutton,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-header > #sidebar-throbber,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-header > spacer {
  display: none;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-header {
  transition: min-width 200ms ease-in-out 200ms, border-right-width 100ms step-end 100ms;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar {
  min-width: var(--mb-sidebar-collapsed-width) !important;
  pointer-events: auto !important;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar * {
  background-color: unset !important;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover > #sidebar,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover > #sidebar-header {
  transition: min-width 200ms ease-in-out, border-right-width 190ms step-start 10ms;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover > #sidebar{
  min-width: var(--mb-sidebar-width) !important;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover > #sidebar-header {
  border-right-width: 1px;
  min-width: calc(var(--mb-sidebar-width) - 6px) !important;
}

#main-window:not([inFullscreen]) #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header:after {
  content: "";
  position: absolute;
  width: calc(var(--mb-sidebar-width));
  height: var(--mb-window-margin);
  left: 0px;
  bottom: 0px;
  background-color: var(--mb-c-background);
}